{% extends '_layouts/detail.njk' %}

{% block page_title%}Crack the Kraken {%endblock%}

{% block story %}
  <img src=img/kraken03.jpg alt= "kraken03" class= "img-fluid">
  <h2>Crack the Kraken</h2>
  <h5>Captain's Blog, Oct. 20, 2018</h5>
  <p>Beware The Kraken. Beware it's beauty and beware it's destruction. Beware, beware, beware.</p>
{% endblock %}