{% extends '_layouts/detail.njk' %}
{% block page_title %} My Title {% endblock %}
{% block story %}
  <h2>What's Up Pirate: October 19</h2>
  <p>Zombie ipsum brains reversus ab cerebellum viral inferno, thalamus nam rick mend grimes malum cerveau cerebro.</p>
{% endblock %}
{% block info %}
{{ super() }}
<h2>Kihwan Lee</h2>





{% endblock %}