{% extends '_layouts/detail.njk' %}
{% block page_title %} Swift yet Slow {% endblock %}
{% block story %}
  <img src=img/kraken02.jpg alt= "kraken02" class= "img-fluid">
  <h2>Swift yet Slow</h2>
  <h5>Captain's Blog, Oct. 19, 2018</h5>
  <p>Beware The Kraken. Beware it's beauty and beware it's destruction. Beware, beware, beware.</p>
{% endblock %}
{% block info %}
{{ super() }}
<h2>Kihwan Lee</h2>





{% endblock %}