{% extends '_layouts/base.njk' %}

{% block page_title %}Diary by Captain McGillicuty{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
    <h1>A Captain's Tale</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <p>
        I am Captain Crit McGillicuty and this is my blog. The purpose of this blog is to record and update the journeys taken by my ship. Read carefully and always beware of The Kraken. Don't mistake it's power. 
      </p>
      {% for entry in data.entries %}
        <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
          <p class="entry-date">{{ entry.date }}</p>
        <hr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
